body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(236, 236, 236);
}
