<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>618806EB29514B2A7E03C6847727B83331DDE85C</string>
				<key>dateExpires</key>
				<string>9/8/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>86KJVSY6KU.com.oraclecorp.internal.ent3.ocsnas.demo3</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>86KJVSY6KU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>client.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>58535f67-8250-42f5-ad3b-b21550a7a19b</string>
				<key>name</key>
				<string>OCS NAS Demo3</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>86KJVSY6KU</string>
				<key>name</key>
				<string>Oracle Corporation (Ent 3)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
